manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: petejohanson
      url-base: https://github.com/petejohanson
    - name: badjeff
      url-base: https://github.com/badjeff
    - name: nrfconnect
      url-base: https://github.com/nrfconnect
    - name: sigvah
      url-base: https://github.com/sigvah
    - name: carrefinho
      url-base: https://github.com/carrefinho
    - name: caksoylar
      url-base: https://github.com/caksoylar
    - name: sadekbaroudi
      url-base: https://github.com/sadekbaroudi
    - name: dhruvinsh
      url-base: https://github.com/dhruvinsh
    - name: englmaxi
      url-base: https://github.com/englmaxi
  projects:
    - name: zmk
      remote: petejohanson
      revision: core/move-to-zephyr-4-1
      import: app/west.yml

    - name: zmk-pmw3610-driver
      remote: badjeff
      revision: main

    - name: zmk-dongle-display
      remote: englmaxi
      revision: main

    - name: forager-zmk-module # <---
      remote: carrefinho # <---
      revision: main # <---
    - name: zmk-rgbled-widget # <---
      remote: caksoylar # <---
      revision: main # <---

    - name: zmk-tri-state
      remote: dhruvinsh
      revision: main
    - name: zmk-fingerpunch-keyboards
      remote: sadekbaroudi
      revision: main
      import:
        file: config/deps.yml
        name-allowlist:
          - zmk-fingerpunch-vik
          - zmk-fingerpunch-controllers

    - name: prospector-zmk-module # <--- and these
      remote: carrefinho # <---
      revision: main # <---
    - name: zmk-keyboards-visorbearer # <---
      repo-path: visorbearer-zmk-module
      remote: carrefinho # <---
      revision: zmk-zephyr-4-1 # <---

  self:
    path: config
